<% provide(:title, 'My holdings') %>
<h1>My Portfolio</h1>

<div id="holdings_table">
  <%= render partial: 'holdings_table', locals: { holdings: @holdings} %>
</div>

<h2>Cash: <%= '%.2f' % current_user.cash %></h2>
<h2>Account value: <%= '%.2f' % (current_user.cash + @holdings_value) %></h2>
