<% provide(:title, 'My holdings') %>
<h2>Balances and Holdings</h2>
<h3>Total Assets: $<%= '%.2f' % (current_user.account_value) %></h3>
<div id="holdings_table">
  <%= render partial: 'holdings_table', locals: { holdings: @holdings} %>
</div>

