<div class="panel panel-default">
  <div class="panel-heading"><h4>Events</h4></div>
  <div class="panel-body">

    <% if stock.sport == 'Golf' %>
      <table class="table">
        <tbody>
          <tr <% events.each do |tournament| %> >
            <td><%= tournament[:name] %></td>
	    <td><%= tournament[:rank] %></td>
	    <td><%= tournament[:date] %></td>
          </tr <% end %> >
        </tbody>
      </table>
      <p><%= link_to "More Events", stock_tournaments_path(stock) %></p>
    <% end %>

  </div>
</div>
