<div class="panel panel-default">
  <div class="panel-heading"><h4>News</h4></div>
  <div class="panel-body">
    <% news.each do |n| %>
      <p><%= link_to n.Title, application_show_news_modal_path(news_id: n.id), remote: true %>
    <% end %>
  </div>
</div>

<!-- rendering partials for modals-->
<div id="newsModal">
 <%= render 'shared/news_modal' %>
</div>


