<div class="panel panel-default">
  <div class="panel-heading"><h4>Posts</h4></div>
  <div class="panel-body">
    <% if posts.empty? %>
      <p>no posts..</p>
    <% else %>
      <% posts.each do |post| %>
        <p><%= link_to post[:title], post %></p>
      <% end %>
    <% end %>
  </div>
</div>
