<% provide(:title, 'All stocks') %>
<h1>All stocks</h1>

<div id="stocks_table">
  <%= render partial: 'stocks_table', locals: { stocks: @stocks} %>
</div>

<% if @current_user.admin? %>
  <%= link_to 'Add new stock', new_stock_path, class: "btn btn-primary"%>
<% end %>

