<% provide(:title, @stock.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="stock_info">
      <h1>
        <%= @stock.name %>
        <%= @stock.current_price %>
      </h1>
    </section>
  </aside>
  <td><%= link_to 'Buy', new_holding_path({:stock_name => @stock.name, :type => 'buy'}), class: "btn btn-success"%></td>
  <td><%= link_to 'Sell', new_holding_path({:stock_name => @stock.name, :type => 'sell'}), class: "btn btn-danger"%></td>
</div>

