<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<div class="row">
  <div class="col-sm-6">
    <div id="portfolio_snippet">
      <%= render partial: 'portfolio_snippet', locals: {  } %>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="recent_activity">
      <%= render partial: 'recent_activity', locals: {  } %>
    </div>
  </div>
</div>

