<h1>Remaining Tournaments</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Status</th>
     </tr>
  </thead>
  <tbody>
    <tr <% remaining.each do |tournament| %> >
      <td><%= link_to tournament[:name], tournament_path(tournament[:id]) %></td>
      <td><%= tournament[:date] %></td>
      <td><%= tournament[:status] %></td>
    </tr <% end %> >
  </tbody>
</table>
