<% provide(:title, 'Tournaments') %>
<div id="completed_tournaments">
  <%= render partial: 'completed_tournaments', locals: { completed: @completed } %>
</div>
<div id="remaining_tournaments">
  <%= render partial: 'remaining_tournaments', locals: { remaining: @remaining } %>
</div>

