// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3, h4, h5 {
    display: inline;
}

img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.modal p {
  white-space:normal;
}


